body {
	font-family: Helvetica,Arial,sans-serif;
	background-color: #FFE5B4;
}

a {
	color: blue;
}

/*FONTS START*/



/*NAV START*/

.nav {
	width: 100%;
	position: fixed;
	display: flex;
	flex-wrap: wrap;
	top: 0px;
	align-items: center;
	z-index: 1;
}

.nav-item {
	color: black;
	padding: 1.8vw;
	font-size: 1vw;
}

.nav-item:hover {
	color: #fc3838;
	background-color: blue;
}

.nav-item a {
	color: black;
	text-decoration: none;
}

.nav-item img {
	height: 4vw;
	padding: 0px;
}

.logo {
	padding: 5px;
	padding-left: 12px;
}


/*NAV END*/

/*BOXES START*/

.boxes {
	position: fixed;
	cursor: pointer;
	display: none;
	z-index: 2;
	font-family: 'terminal_grotesque_openopen';
    src: url('fonts/terminal/terminal-grotesque_open-webfont.woff2') format('woff2'),
         url('fonts/terminal/terminal-grotesque_open-webfont.woff') format('woff');
    font-size: 3vh;
    overflow: scroll;
}



/*BOXES END*/

/*ABOUT START*/

.about-box {
	top: 10vw;
	left: 15vw;
	background-color: black;
	width: 70vw;
	height: 70vh;
	color: white;
}

.about-content {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.about-item {
	padding: 15px;
	flex: 0 0 50%;
}

.about-item img{
	width: 100%;
}

.about-item p {
	padding-bottom: 15px;
}

.about-item a {
	text-decoration: none;
	color: white;
	border: 1px solid lime;
	border-radius: 2px;
}

/*ABOUT END*/

/*BTR START*/

.btr-box {
	top: 100px;
	left: 280px;
	background-color: black;
	width: 70vw;
	color: white;
}

.btr-content {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.btr-item {
	padding: 15px;
	flex: 0 0 50%;
}

.btr-item p {
	padding-bottom: 15px;
}

.btr-item img{
	width: 100%;
}

.btr-item img:hover {
	transform: scale(1.05);
}


/*BTR-END*/

/*PROJECTS START*/


.content {
	margin-top: 100px;
	display: flex;
	flex-wrap: wrap;		
}

.content-item {
	flex: 0 0 50%;
	padding: 10px;
	transition: 1s;
	z-index: 0;
}

.content-item img {
	width: 100%;
	border: 1px solid black;
}

.content-item span {
	color: #00ff00;
	font-size: 12px;
}

.content-item video {
	width: 100%;
	border: 1px solid black;
}

.filter {
	font-family: 'gosha_sansregular';
    src: url('fonts/gosha/goshasans-regular-webfont.woff2') format('woff2'),
         url('fonts/gosha/goshasans-regular-webfont.woff') format('woff');
	display: inline-block;
	padding: 5px;
	border-radius: 5px;
	color: black;
	font-size: 10px;
}

.hide {
	display: none;
}

.show {
	display: block;
}


