body {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 32px;
	background-color: black;
	color: white;
}

a {
	color:red;
}

/*INDEX HOMEPAGE*/

.index-intro {
	font-size: 18px;
	margin-bottom: 25vh;
	padding: 10px;
}

.index-row {
	display: flex;
	flex-wrap: wrap;
	padding: 10px;
	margin-bottom: 5px;
	margin-top: 5px;
	border-top: 2px solid white;
}

.index-name {
	flex:  0 0 50%;
}

.index-layer {
	flex: 0 0 25%;
}

.index-tag {
	flex: 0 0 25%;
}

/*INDEX END*/

/*IP PAGE*/

.ip {
	background-color: blue;
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

.ip-text {
	color: lime;
	font-size: 15vw;
	text-align: center;
}

/*IP END*/

/*CHECKERS START*/

.checkers {
	display: flex;
	flex-wrap: wrap;
}

.checkers-orange {
	width: 50vw;
	height: 50vh;
	background-color: orange;
}

.checkers-blue {
	width: 50vw;
	height: 50vh;
	background-color: blue;
}

/*CHECKERS TYPE*/

.checkers-type{
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	left: 0 ;
	top: 0;
}

.checkers-text {
	font-size: 20vw;
	color: yellow;
	border: 10px solid blue;
	padding: 2vw;
	border-radius: 5vw;
}

/*CHECKERS END*/


/*CLOUD PATTERN*/

.cloud-pattern {
	display: flex;
	flex-wrap: wrap;
	background-image: linear-gradient(blue, orange)
}

.cloud-circle {
	width: 25vw;
	height: 25vw;
	background-image: linear-gradient(blue, cyan, orange);
	border-radius: 50%;
}

/*CLOUD PATTERN END*/

/*CHIP START*/

.chip-container {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: yellow;
}

.chip {
	width: 60vh;
	height: 60vh;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid gray;
	padding: 10px;
	background-color: #4a5dec;
}

.text {
	color: gray;
	border: 1px solid gray;
	font-size: 5vw;
}

/*CHIP END*/


