body {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 32px;
	background-color: black;
	color: white;
}

a {
	color:red;
}

/*INDEX HOMEPAGE*/

.index-intro {
	font-size: 18px;
	margin-bottom: 25vh;
	padding: 10px;
}

.index-row {
	display: flex;
	flex-wrap: wrap;
	padding: 10px;
	margin-bottom: 5px;
	margin-top: 5px;
	border-top: 2px solid white;
}

.index-row a {
	color: white;
	text-decoration: none;
	border: 1px solid white;
	border-radius: 5px;
	padding: 2px;
}

.index-row:hover a {
	background-color: white;
	color: black;
}

.index-name {
	flex:  0 0 50%;
}

.index-layer {
	flex: 0 0 25%;
}

.index-tag {
	flex: 0 0 25%;
}

/*INDEX END*/

/*IP PAGE*/

.ip {
	background-color: blue;
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

.ip-text {
	color: lime;
	font-size: 15vw;
	text-align: center;
}

/*IP END*/

/*CHECKERS START*/

.checkers {
	display: flex;
	flex-wrap: wrap;
}

.checkers-orange {
	width: 50vw;
	height: 50vh;
	background-color: orange;
}

.checkers-blue {
	width: 50vw;
	height: 50vh;
	background-color: blue;
}

/*CHECKERS TYPE*/

.checkers-type{
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	left: 0 ;
	top: 0;
}

.checkers-text {
	font-size: 20vw;
	color: yellow;
	border: 10px solid blue;
	padding: 2vw;
	border-radius: 5vw;
}

/*CHECKERS END*/


/*CLOUD PATTERN*/

.cloud-pattern {
	display: flex;
	flex-wrap: wrap;
	background-image: linear-gradient(blue, orange)
}

.cloud-circle {
	width: 10vw;
	height: 10vw;
	background-image: linear-gradient(blue, cyan, orange);
	border-radius: 50%;
}

/*CLOUD PATTERN END*/

/*CHIP START*/

.chip-container {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: yellow;
}

.chip {
	width: 60vh;
	height: 60vh;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid gray;
	padding: 10px;
	background-color: #4a5dec;
}

.text {
	color: gray;
	border: 1px solid gray;
	font-size: 5vw;
}

/*CHIP END*/

/*404 ERROR START*/
.error-box {
	display: flex;
	flex-wrap: wrap;
}

.error-orange {
	width: 20vw;
	height: 20vh;
	background-color: #fd5a5a;
}

.error-blue {
	width: 20vw;
	height: 20vh;
	background-color: #1b018f;
}

.error-orange span {
	color: #1b018f;
	border: 1px solid #1b018f;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.error-blue span {
	color: #fd5a5a;
	border: 1px solid #fd5a5a;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.error-type {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	left: 0 ;
	top: 0;
}

.error-big {
	font-size: 20vw;
	color: #fd5a5a;
	border: 10px solid #1b018f;
	padding: 2vw;
	border-radius: 3vw;
}

/*404 ERROR END*/

/*CD START*/

.cd-container {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #7302fe;
}

.cd-package {
	width: 70vh;
	height: 60vh;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 2px solid #d1e21e;
	padding: 10px;
	background-color: #7302fe;
}

.disc {
	width: 50vh;
	height: 50vh;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 3px solid #d1e21e;
	border-radius: 190px;
	padding: 10px;
	background-color: #d1e21e;
	position: fixed;
}

.hole {
	width: 5vh;
	height: 5vh;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 3px solid #d1e21e;
	border-radius: 190px;
	padding: 10px;
	background-color: #7302fe;
	position: fixed;
}

.big-hole {
	width: 8vh;
	height: 8vh;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 3px solid #7302fe;
	border-radius: 190px;
	padding: 10px;
	background-color: #d1e21e;
	position: fixed;
}

.disc-text	{
	border-bottom: 1px solid #7302fe;
}


/*CD END*/

/*BARCODE START*/
.bg {
	position: fixed;
}

.bg-pattern {
	display: flex;
	flex-wrap: wrap;
	background-image: linear-gradient(#fd5ba9, #efe754)
}

.bg-circle {
	width: 10vw;
	height: 10vw;
	background-image: linear-gradient(#f6333a, #fd5ba9, #efe754);
	border-radius: 50%;
}

.barcode {
	width: 200vh;
	height: 60vh;
	display: flex;
	padding: 10px;
	position: relative;
	flex-wrap: wrap;
}

.barcode-line-thick {
	width: 8vh;
	height: 60vh;
	padding: 10px;
	background-color: black;
	margin-top: 10px;
	margin-right: 10px;
}

.barcode-line-medium {
	width: 5vh;
	height: 60vh;
	padding: 10px;
	background-color: black;
	margin-top: 10px;
	margin-right: 10px;
}

.barcode-line-thin {
	width: 1vh;
	height: 60vh;
	padding: 10px;
	background-color: black;
	margin-top: 10px;
	margin-right: 10px;
}

.barcode-text {
	color: black;
	font-size: 50px;
}

/*BARCODE END*/

/*STAMP START*/

.stamp-container {
	align-items: center;
	justify-content: center;
	display: inline-block;
}

.stamp {
  margin-top: 50px;
  margin-left: 50px;
  position: relative;
  width: 500px;
  height: 300px;
  background: #fdc4e1;
  -webkit-filter: drop-shadow(3px 3px 1px black);
}
.stamp:before {
  position: absolute;
  top: -20px;
  display: block;
  content: "";
  background: radial-gradient(circle, transparent 15px, #fdc4e1 16px);
  background-size: 50px 40px;
  background-position: -20px -20px;
  width: 100%;
  height: 40px;
  z-index: -1;
}
.stamp:after {
  position: absolute;
  bottom: -20px;
  content: "";
  display: block;
  background: radial-gradient(circle, transparent 15px, #fdc4e1 16px);
  background-size: 50px 40px;
  background-position: -20px -20px;
  width: 100%;
  height: 40px;
  z-index: -1;
}

.stamp-fill {
	background-color: blue;
	padding: 5px;
	display: flex;
	flex-wrap: wrap;

}

.text {
	color: white;
	display: flex;
	flex-wrap: wrap;
	border: 1px solid #fdc4e1;
	border-radius: 5px;
}

/*STAMP END*/


/*DOCUMENTS START*/
.doc-container {
	width: 100vw;
	height: 100vh;
	background-color: #f8cdd1;
	display: flex;
	align-items: center;
	justify-content: center;
}

.doc {
	width: 90vh;
	height: 70vh;
	border: 2px solid blue;
	display: flex;
	justify-content: center;
}

.doc-side {
	width: 40vh;
	height: 70vh;
	border: 2px solid blue;
}

.doc-side-contents {
	width: 40vh;
	height: 5vh;
	border: 1px solid blue;
}

.doc-title {
	font-size: 20px;
	color: black;
	padding: 10px;
}

.doc-side-contents-special {
	width: 40vh;
	height: 5vh;
	border: 1px solid blue;
	background-color: blue;
}

.doc-title-special {
	font-size: 20px;
	color: white;
	padding: 10px;
}

.doc-main {
	width: 60vh;
	height: 70vh;
	border: 2px solid blue;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	padding: 23px;
}

.doc-box {
	width: 5vw;
	height: 5vh;
	background-color: blue;
	display: inline-block;
	padding: 10px;
}

/*DOCUMENTS END*/

/*NOTIF START*/

.notif-bg {
	background-color: blue;
	width: 100vw;
	height: 100vh;
}

.notif-container {
	position: fixed;
	width: 50vw;
	height: 20vh;
	background-image: linear-gradient(blue, lightblue, white);
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid gray;
	border-radius: 10px;
	margin-top: 200px;
	margin-left: 300px;
}

.notif-container2 {
	position: fixed;
	width: 50vw;
	height: 20vh;
	background-image: linear-gradient(blue, lightblue, white);
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid gray;
	border-radius: 10px;
	margin-top: 500px;
	margin-left: 100px;
}

.notif-container3 {
	position: fixed;
	width: 50vw;
	height: 20vh;
	background-image: linear-gradient(blue, lightblue, white);
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid gray;
	border-radius: 10px;
	margin-top: 300px;
	margin-left: 800px;
}

.notif {
	color: black;
	font-size: 20px;
	padding: 20px;
}

/*NOTIF END*/

/*NETFLIX START*/

.eyes {
	width:100%;
	height:100vh;
	background-color: #000;
	position: fixed;
}

.eyes img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	background-color: #000;
}
}

.nf-container {
	background-color: yellow;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;

}

.nf {
	width: 100vw;
	height: 16.666vh;
	background-color: blue;
	display: flex;
	mix-blend-mode:difference;
	justify-content: center;
	align-items: center;
}

.nf-text {
	font-size: 100%;
	mix-blend-mode:difference;
	 /*   add your animation name and settings here */
  animation-name:spinUG;
  animation-duration:10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
  animation-direction: alternate;
}

/*   add your starting state and your end state  */
@keyframes spinUG {
  
  0% {
    margin-left: -2000px;
  }
  
  
  
  100% {
    margin-left: 1000px;
  }
  
}


/*NETFLIX END*/


/*LOCATION START*/


.location-bg {
	width:100%;
	background-color: #000;
}

.location-bg img {
	width: 100%;
	object-fit: cover;
	background-color: #000;
	position: fixed;
}

.location-yellow {
	width: 50vw;
	height: 50vh;
	background-color: yellow;
	display: flex;
	flex-wrap: wrap;
	mix-blend-mode:difference;
/*animation start*/
	animation-name:locyel;
  	animation-duration:10s;
  	animation-iteration-count: infinite;
  	animation-timing-function: ease-in-out; 
  	animation-direction: alternate-reverse;
}

/*   add your starting state and your end state  */
@keyframes locyel {
  
  0% {
  	transform: rotate(90deg);
    margin-left: -20px;
    border-radius: 200px;
  }
  
  50% {
  	border-radius: 0px;
  }
  
  
  100% {
    margin-left: 800px;
    border-radius: 300px;

  }
  
}


.location-red {
	width: 20vw;
	height: 50vh;
	background-color: red;
	display: flex;
	flex-wrap: wrap;
	mix-blend-mode:difference;
/*animation start*/
	animation-name:locred;
  	animation-duration:8s;
  	animation-iteration-count: infinite;
  	animation-timing-function: ease-in-out; 
  	animation-direction: alternate;
}

/*   add your starting state and your end state  */
@keyframes locred {
  
  0% {
  	transform: rotate(30deg);
    margin-left: -10px;
    margin-top: 0px;
    border-radius: 0px;
  }
  
  50% {
  	border-radius: 200px;
  }
  
  
  100% {
    margin-left: 1000px;
    border-radius: 300px;
    margin-top: 50px;
  }
  
}

.location-pink {
	width: 40vw;
	height: 20vh;
	background-color: #f737f1;
	display: flex;
	flex-wrap: wrap;
	mix-blend-mode:difference;
/*animation start*/
	animation-name:locpink;
  	animation-duration:15s;
  	animation-iteration-count: infinite;
  	animation-timing-function: ease-in-out; 
  	animation-direction: alternate-reverse;
}

/*   add your starting state and your end state  */
@keyframes locpink {
  
  0% {
  	transform: rotate(360deg);
    margin-left: 800px;
    margin-top: -600px;
    border-radius: 0px;
  }
  
  50% {
  	border-radius: 200px;
  }
  
  
  100% {
    margin-left: -20px;
    border-radius: 300px;
    margin-top: -800px;
  }
  
}

.location-container {
	background-color: yellow;
	width: 100vw;
	height: 100vh;
	justify-content: center;
	align-items: center;
}

/*LOCATION END*/

/*BIG 4 START*/
.big4 {
	display: flex;
	flex-wrap: wrap;
	font-size: 20vw;
	-webkit-text-stroke: 3px black;
}

.google {
	width: 50%;
	height: 50vh;
	background-color: orange;
	display: flex;
	align-items: center;
	justify-content: center;
}

.amazon {
	width: 50%;
	height: 50vh;
	background-color: blue;
	display: flex;
	align-items: center;
	justify-content: center;
}

.facebook {
	width: 50%;
	height: 50vh;
	background-color: yellow;
	display: flex;
	align-items: center;
	justify-content: center;
}

.apple {
	width: 50%;
	height: 50vh;
	background-color: red;
	display: flex;
	align-items: center;
	justify-content: center;
}
/*BIG 4 END*/

/*HEAVEN START*/

.heaven-grid {
	display: flex;
	flex-wrap: wrap;
	font-size: 20vw;
	color: black;
}

.swirl {
	width: 100vw;
	height: 100vw;
	filter: blur(15px);
}

.swirl img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	background-color: #000;
	position: fixed;
}

.heaven-bg {
	width: 50vw;
	height: 50vh;
	display: flex;
	align-items: center;
	justify-content: center;
}


/*HEAVEN END*/





































