/*ABOUT CONTENT START*/
body {
	
}

.about-content {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	grid-template-rows: 0.3fr 1fr 0.3fr 1fr;
	grid-column-gap: 5px;
	grid-row-gap: 5px;
	background-color: #e7ffc8;
}

#about-title {
	grid-area: 1/2/2/3;
	margin-top: 110px;
}

#about-title h1{
	color: black;
	text-align: center;
	font-size: 25px;
	font-family: 'monument_extendedregular';
    src: url('fonts/monument-bold-webfont/monumentextended-regular-webfont.woff2') format('woff2'),
         url('fonts/monument-bold-webfont/monumentextended-regular-webfont.woff') format('woff');
}

#profile-pic {
	width: 100%;
	padding: 10px;
	grid-area: 2 / 2 / 3 / 3;
	justify-content: center;
	align-items: center;
}

#profile-pic img{
	width: 400px;
	border: solid black 1px;
}

#about-text {
	font-size: 15px;
	grid-area: 3/2/4/3;
	padding: 5px;
}

#about-text p {
	padding: 5px;
}

/*ABOUT CONTENT END*/