video {
	width: 100%;
  	height: auto;
  	border: solid black 1px;
}

/*ABOUT CONTENT START*/

.about-content {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	grid-template-rows: 0.3fr 1fr 0.3fr 1fr 1fr;
	grid-column-gap: 5px;
	grid-row-gap: 5px;
	background-color: #b8c8ff;
}

#about-title {
	grid-area: 1/2/2/3;
	margin-top: 110px;
}

#about-title h1{
	color: black;
	text-align: center;
	font-size: 25px;
	font-family: 'monument_extendedregular';
    src: url('fonts/monument-bold-webfont/monumentextended-regular-webfont.woff2') format('woff2'),
         url('fonts/monument-bold-webfont/monumentextended-regular-webfont.woff') format('woff');
}

#profile-pic {
	width: 100%;
	padding: 10px;
	grid-area: 2 / 2 / 3 / 3;
	justify-content: center;
	align-items: center;
}

#profile-pic img{
	width: 400px;
	border: solid black 1px;
}

#about-text {
	font-size: 14px;
	grid-area: 3/2/4/3;
	padding: 5px;
	font-family: 'gtf_good_sans_trialregular';
    src: url('fonts/goodsansreg-webfont/gtfgoodsanstrial-regular-webfont.woff2') format('woff2'),
         url('fonts/goodsansreg-webfont/gtfgoodsanstrial-regular-webfont.woff') format('woff');
    font-weight: normal;
}

#about-text p {
	padding: 5px;
}

#about-text a :hover {
	text-decoration: underline;
}

#about-work {
	grid-area: 4/2/5/3;
	padding: 5px;
}

#about-work h3{
	padding: 10px;
	color: black;
	text-align: center;
	font-size: 18px;
	font-family: 'monument_extendedregular';
    src: url('fonts/monument-bold-webfont/monumentextended-regular-webfont.woff2') format('woff2'),
         url('fonts/monument-bold-webfont/monumentextended-regular-webfont.woff') format('woff');
}

#about-work p {
	font-family: 'gtf_good_sans_trialregular';
    src: url('fonts/goodsansreg-webfont/gtfgoodsanstrial-regular-webfont.woff2') format('woff2'),
         url('fonts/goodsansreg-webfont/gtfgoodsanstrial-regular-webfont.woff') format('woff');
    font-weight: normal;
    padding: 5px;
}


#about-item {
	grid-area: 5 / 1 / 6 / 4;
	padding: 10px;
	grid-auto-columns: 1fr;
	position: absolute;
	width: 400px;
}

#geo {
	
}


#caption {
	display: flex;
	flex: 0 0 50%;
	border: solid black 1px;
	justify-content: space-between;
	margin-bottom: 10px;
	font-style: italic;
}

#caption a :hover {
	text-decoration: underline;
}

/*ABOUT CONTENT END*/