body {
	font-family: Helvetica,Arial,sans-serif;
	background-color: white;
}

a {
	color: black;
	text-decoration: none;
}

video {
	width: 100%;
  	height: auto;
  	border: solid black 1px;
}


/*FONTS START*/

@font-face {
    font-family: 'monument_extendedregular';
    src: url('fonts/monument-bold-webfont/monumentextended-regular-webfont.woff2') format('woff2'),
         url('fonts/monument-bold-webfont/monumentextended-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gtf_good_sans_trialregular';
    src: url('fonts/goodsansreg-webfont/gtfgoodsanstrial-regular-webfont.woff2') format('woff2'),
         url('fonts/goodsansreg-webfont/gtfgoodsanstrial-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*FONTS END*/

/*NAV START*/

.nav {
	width: 100%;
	display: flex;
	justify-content: space-around;
	background-color: #e7ffc8;
	padding: 10px;
	position: fixed;
	align-content: center;
	margin-bottom: 14px;
	border-bottom: 1px solid black;
	font-family: 'monument_extendedregular';
    src: url('fonts/monument-bold-webfont/monumentextended-regular-webfont.woff2') format('woff2'),
         url('fonts/monument-bold-webfont/monumentextended-regular-webfont.woff') format('woff');
}

#home img {
	width: 70px;
}

#about :hover {
	mix-blend-mode: color-burn;
}

#contact :hover {
	mix-blend-mode: color-burn;
}

#home :hover {
	mix-blend-mode: color-burn;
}



/*NAV END*/

/*CONTENT START*/
.content {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 0.3fr 1fr 1fr 1fr;
	grid-column-gap: 5px;
	grid-row-gap: 5px;
}


/*.container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 0.2fr 3fr repeat(2, 1fr);
	grid-column-gap: 5px;
	grid-row-gap: 5px;
}*/

#home-image {
	width: 100%;
	padding: 10px;
	grid-area: 2/2/3/3;
}

#home-image img{
	width: 300px;
}

#home-text {
	font-size: 15px;
	font-family: 'monument_extendedregular';
    src: url('fonts/monument-bold-webfont/monumentextended-regular-webfont.woff2') format('woff2'),
         url('fonts/monument-bold-webfont/monumentextended-regular-webfont.woff') format('woff');
    background-color: #e7ffc8;
    border-radius: 300px;
    text-align: center;
    padding: 10px;
    grid-area: 3 / 1 / 4 / 4;
    margin: 20px;
}


/*CONTENT END*/


/*FOOTER START*/

.footer {
	width: 100%;
	display: flex;
	position: fixed;
	justify-content: center;
	background-color: #e7ffc8;
	align-content: center;
	padding-top: 20px;
	bottom: 0px;
	border-top: 1px solid black;
	font-family: 'monument_extendedregular';
    src: url('fonts/monument-bold-webfont/monumentextended-regular-webfont.woff2') format('woff2'),
         url('fonts/monument-bold-webfont/monumentextended-regular-webfont.woff') format('woff');
}

.footer img {
	align-content: center;
}

/*FOOTER END*/
















