body {
	font-family: Helvetica,Arial,sans-serif;
	background-color: #b8c8ff;
}

a {
	color: black;
	text-decoration: none;
}

video {
	width: 100%;
  	height: auto;
  	border: solid black 1px;
}


/*FONTS START*/

@font-face {
    font-family: 'monument_extendedregular';
    src: url('fonts/monument-bold-webfont/monumentextended-regular-webfont.woff2') format('woff2'),
         url('fonts/monument-bold-webfont/monumentextended-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gtf_good_sans_trialregular';
    src: url('fonts/goodsansreg-webfont/gtfgoodsanstrial-regular-webfont.woff2') format('woff2'),
         url('fonts/goodsansreg-webfont/gtfgoodsanstrial-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*FONTS END*/

/*NAV START*/

.nav {
	width: 100%;
	display: flex;
	justify-content: space-around;
	background-color: #e7ffc8;
	padding: 10px;
	position: fixed;
	align-content: center;
	margin-bottom: 14px;
	border-bottom: 1px solid black;
	z-index: 1;
	font-family: 'monument_extendedregular';
    src: url('fonts/monument-bold-webfont/monumentextended-regular-webfont.woff2') format('woff2'),
         url('fonts/monument-bold-webfont/monumentextended-regular-webfont.woff') format('woff');
}

.nav p {
	justify-content: center;
}

#home img {
	width: 70px;
}

#about :hover {
	color: #b8c8ff;
}

#contact :hover {
	color: #b8c8ff;
}

#home :hover {
	transform: scale(1.1);
}

/*NAV END*/

/*CONTENT START*/
.content {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 0.3fr 1fr 0.3fr;
	grid-column-gap: 5px;
	grid-row-gap: 5px;
}

#home-image {
	width: 100%;
	padding: 10px;
	grid-area: 2/2/3/3;
}

#home-image img{
	width: 300px;
	justify-content: center;
}

#home-text {
	font-size: 15px;
	font-family: 'monument_extendedregular';
    src: url('fonts/monument-bold-webfont/monumentextended-regular-webfont.woff2') format('woff2'),
         url('fonts/monument-bold-webfont/monumentextended-regular-webfont.woff') format('woff');
    background-color: #e7ffc8;
    border-radius: 300px;
    text-align: center;
    padding: 10px;
    grid-area: 3 / 1 / 4 / 4;
    margin: 20px;
    float: left;
}

#home-text a :hover {
	text-decoration: underline;
}


/*CONTENT END*/


/*FOOTER START*/

.footer {
	width: 100%;
	display: flex;
	position: fixed;
	justify-content: center;
	background-color: #e7ffc8;
	align-content: center;
	padding-top: 20px;
	bottom: 0px;
	border-top: 1px solid black;
	font-family: 'monument_extendedregular';
    src: url('fonts/monument-bold-webfont/monumentextended-regular-webfont.woff2') format('woff2'),
         url('fonts/monument-bold-webfont/monumentextended-regular-webfont.woff') format('woff');
}

.footer img {
	align-content: center;
}

/*FOOTER END*/

/*MEDIA QUERY 1 START*/

@media (min-width: 600px) and (max-width: 900px) {
	.content {
		display: grid;
		grid-template-columns: 1fr 2fr repeat(2, 1fr);
		grid-template-rows: 0.6fr 1fr 0.3fr;
		grid-column-gap: 5px;
		grid-row-gap: 5px;
	}

	#home-image {
		width: 100%;
		grid-area: 2 / 1 / 3 / 3;
	}

	#home-text {
		grid-area: 2 / 3 / 3 / 5; 

	}

	#home-text p {
		justify-content: center;
		align-content: center;
		margin-top: 30px;
	}

	/*ABOUT START*/

	.about-content {
		display: grid;
		grid-template-columns: 0.3fr repeat(2, 1.5fr) 0.3fr;
		grid-template-rows: 0.3fr 1fr 1fr;
		grid-column-gap: 5px;
		grid-row-gap: 5px;
	}

	#about-title {
		grid-area: 1 / 2 / 2 / 4;
	}

	#profile-pic {
		grid-area: 2 / 2 / 3 / 3;
	}

	#about-text {
		grid-area: 2 / 3 / 3 / 4;
		line-height: 20px;
		align-content: space-around;
	}

	#about-work h3{
		grid-area: 3/2/4/4;
		text-align: center;
	}

	#about-work {
		grid-area: 3 / 1 / 4 / 4;
	}

	#about-item {
		width: 100%;
		display: flex;
		flex: 50% 50% 50%;
		padding: 10px;
	}

	/*ABOUT END*/
}

/*MEDIA QUERY 1 END*/

/*MEDIA QUERY 2 START*/

@media (min-width: 901px) {
	.content {
		display: grid;
		grid-template-columns: 0.7fr repeat(2, 1fr) 0.9fr;
		grid-template-rows: 0.5fr 1fr 0.3fr;
		grid-column-gap: 5px;
		grid-row-gap: 5px;
	}

	#home-image img{
		grid-area: 2 / 2 / 5 / 4;
		width: 100%;
	}

	#home-text {
		grid-area: 2 / 3 / 3 / 4; 
		width: 100%;
	}

	#home-text p {
		justify-content: center;
		align-content: center;
		margin-top: 60px;
	}

	/*ABOUT START*/

	.about-content {
		display: grid;
		grid-template-columns: 0.7fr repeat(2, 1fr) 0.7fr;
		grid-template-rows: 0.4fr repeat(2, 1fr);
		grid-column-gap: 5px;
		grid-row-gap: 5px;
	}

	#about-title {
		grid-area: 1 / 2 / 2 / 4;
	}

	#profile-pic {
		grid-area: 2 / 2 / 3 / 3;
	}

	#about-text {
		grid-area: 2 / 3 / 3 / 4;
		line-height: 20px;
		align-content: space-around;
	}

	#about-work h3{
		grid-area: 4 / 2 / 5 / 4;
		text-align: center;
	}

	#about-work {
		grid-area: 3 / 2 / 4 / 4;
	}

	#about-item {
		width: 70%;
		display: flex;
		flex: 0 0 50%;
		padding: 10px;
	}
	/*ABOUT END*/
}

/*MEDIA QUERY 2 END*/













