

/*NAV START*/

.nav {
	width: 100%;
	display: flex;
	justify-content: space-around;
	background-color: #e7ffc8;
	padding: 10px;
	position: fixed;
	align-content: center;
	margin-bottom: 14px;
	border-bottom: 1px solid black;
	z-index: 1;
	font-family: 'monument_extendedregular';
    src: url('fonts/monument-bold-webfont/monumentextended-regular-webfont.woff2') format('woff2'),
         url('fonts/monument-bold-webfont/monumentextended-regular-webfont.woff') format('woff');
}

.nav p {
	justify-content: center;
}

#home img {
	width: 70px;
}

#about :hover {
	color: #b8c8ff;
}

#contact :hover {
	color: #b8c8ff;
}

#home :hover {
	transform: scale(1.1);
}

/*NAV END*/