
.marquee3k {
  position: relative;
}

.marquee3k__wrapper {
width: 300px;
position: relative;
}

.marquee3k.marquee3k__wrapper.copy {
 
  position: fixed;
}

.vertical {
        transform: rotate(45deg);
    }

.copy {
 
}
