

.chapter-box {
	font-size: 20px;
	padding: 10px;
	font-weight: bolder;
	display: flex;
	flex-wrap: wrap;
}

.numbers {
	font-size: 40px;
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
}

.chapters {
	background-color: black;
}

.issue1 {
	font-size: 15px;
	background-color: #f6fa06;
	position: fixed;
	bottom: 0px;
	width: 50%;
	height: 50%;
	margin-bottom: -50%;
	transition: 0.5s;
	overflow-y: scroll;
	padding: 20px;
	border: 1px solid black;
	display: inline-block;
	z-index: 3;
}


.bottom {
    margin-bottom: 0%;
    transition: 0.5s;
}

.link {
	z-index: 1;
	border:1px solid black;
}

.l-1:hover {
	color: blue;
}
.l-2:hover {
	color: blue;
}
.l-3:hover {
	color: blue;
}
.l-4:hover {
	color: blue;
}
.l-5:hover {
	color: blue;
}
.l-6:hover {
	color: blue;
}
.l-7:hover {
	color: blue;
}
.l-8:hover {
	color: blue;
}
.l-9:hover {
	color: blue;
}
.l-10:hover {
	color: blue;
}
.l-11:hover {
	color: blue;
}
.l-12:hover {
	color: blue;
}
.l-13:hover {
	color: blue;
}
.l-14:hover {
	color: blue;
}

.l-15:hover {
	color: blue;
}
.l-16:hover {
	color: blue;
}
.l-17:hover {
	color: blue;
}
.l-18:hover {
	color: blue;
}

.image {
	width: 500px;
	position: absolute;
	z-index: 2;
	cursor: pointer;
	display: none;
}

.show {
	display: block;
}

.i-1 {
	top:980px;
	left:20px;
}

.i-2 {
	top: 1000px;
	left: 600px;
}

.i-3 {
	top: 1050px;
	left: 300px;
}

.i-4 {
	top: 900px;
	left: 500px;
}

.i-5 {
	top: 950px;
	left: 600px;
}
.i-6 {
	top: 1010px;
	left: 500px;
}
.i-7 {
	top: 1200px;
	right: 100px;
}
.i-8 {
	top: 1000px;
	right: 500px;
}
.i-9 {
	top: 1300px;
	left: 700px;
}
.i-10 {
	top: 900px;
	left: 500px;
}

.i-11 {
	top:1100px;
	left:40px;
}
.i-12 {
	top:980px;
	left:20px;
}
.i-13 {
	top:900px;
	left:600px;
}
.i-14 {
	top:910px;
	left:800px;
}
.i-15 {
	top:980px;
	left:550px;
}
.i-16 {
	top:880px;
	left:700px;
}
.i-17 {
	top:1000px;
	left:400px;
}
.i-18 {
	top:980px;
	left:20px;
}


.pop {
  width:100px;
  height:100px;
  position: fixed;
  visibility: hidden;
}

.p-show {
  visibility: visible;
}

.close-link {
 border: 1px solid black;
 border-radius: 0px;
 padding: 10px;
 position: absolute;
}

.rad-song {
	font-weight: bold;
}

.lyrics {
	font-style: italic;
	cursor: url("http://www.rw-designer.com/cursor-view/108211.gif"):auto;
}







