.pagetitle {
	font-weight: bold;
}

/*test*/

.buy {
	font-size: 30px;
	border-radius: 0px 0px 0px 0px;
	font-weight: bold;
	position: absolute;
}

.buy a {
	text-decoration: none;
	color: black;
}

.buy a:hover {
	text-decoration: none;
	color: blue;
}

.pages img {
	width: 40%;
}

.front {
	 -webkit-transform:rotate(50deg) translateX(45%)translateY(40vh);
	 z-index: -1;
    position: absolute;
    width: 50%;
 }


 .back {
	 -webkit-transform:rotate(-20deg) translateX(70%)translateY(10vh);
	 z-index: -2;
    position: absolute;
    width: 50%;
 }

 .middle1 {
	 -webkit-transform:rotate(10deg) translateX(50%)translateY(60vh);
	 z-index: -1;
    position: absolute;
    width: 100%;
 }

.middle {
	 -webkit-transform:rotate(-40deg) translateX(50%)translateY(60vh);
	 z-index: -1;
    position: absolute;
    width: 100%;
 }

 .twitter {
	 -webkit-transform:rotate(-10deg) translateX(20%)translateY(20vh);
	 z-index: -1;
    position: absolute;
    width: 100%;
 }

 .uhh {
	 -webkit-transform:rotate(-60deg) translateX(-30%)translateY(10vh);
	 z-index: -1;
    position: absolute;
    width: 100%;
 }













