body {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 32px;
	background-color: black;
}

a {
	color:red;
}

/* When you first edit this file, you can delete everything below here. Remember you should use body to target all elements on the page first and then override them later  */

/* EXAMPLE CODE PLEASE REMOVE */

.open {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: 100vh;
	justify-content: center;
	align-items: center;
	animation-name:rotateopen;
  	animation-duration:10s;
  	animation-iteration-count: infinite;
  	animation-timing-function: linear;
  	animation-direction: normal;
}

/*   add your starting state and your end state  */
@keyframes rotateopen {
  
  from {
    
  }
  
  to {
    transform: rotateY(360deg);
  }
  
  
}


.open img {
	width: 50%;
}