body {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 40px;
	background-color: black;
	background-image: url("bg-image/bg-image.png");
}

a {
	color:red;
}

/*NAV START*/

.nav {
	display: flex;
	font-size: 30px;
	position: fixed;
	z-index: 1px;
}

.nav-item {
	padding: 10px;
	font-family: 'tiny_5x3140';
    src: url('fonts/webfontkit-2/tiny5x3-140-webfont.woff2') format('woff2'),
         url('fonts/webfontkit-2/tiny5x3-140-webfont.woff') format('woff');
	color: white;
}

/*NAV END*/


.title {
	height: 100vh;
	width: 100vh;
	transform: rotate(-10deg);
	position: relative;
	font-family: 'tiny_5x3140';
    src: url('fonts/webfontkit-2/tiny5x3-140-webfont.woff2') format('woff2'),
         url('fonts/webfontkit-2/tiny5x3-140-webfont.woff') format('woff');
    display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}

.marquee {
	overflow: hidden;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: lime;
	position: relative;
	transform: rotate(10deg);
}



.slick-slide {
	font-size: 25px;
	font-family: 'pilowlavaregular';
    src: url('fonts/webfontkit-pilowlava/pilowlava-regular-webfont.woff2') format('woff2'),
         url('fonts/webfontkit-pilowlava/pilowlava-regular-webfont.woff') format('woff');
    padding: 10px;
    margin: 0 15px;
}





