body {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 40px;
	background-color: black;
	background-image: url("bg-image/bg-image.png");
	background-attachment: fixed;
}

a {
	color: white;
	mix-blend-mode: difference;
}

/*NAV START*/

.nav {
	left: 0px;
	top: 0px;
	display: flex;
	font-size: 40px;
	position: fixed;
	width: 100%;
	justify-content: space-between;
	margin-bottom: 50px;
	z-index: 1;
}

.nav a {
	mix-blend-mode: difference;
	text-decoration: none;
}

.nav-item {
	mix-blend-mode: difference;
	display: inline-block;
	padding: 10px;
	font-weight: bold;
	transform: rotateY(180deg);
}

.nav-item:hover {
	transform: rotateY(0deg);
}

/*NAV END*/

/*MAIN START*/

.title {
	justify-content: center;
	align-items: center;
	position: relative;
	height: 100vh;
	transform: rotate(-10deg);
	font-family: 'tiny_5x3140';
    src: url('fonts/webfontkit-2/tiny5x3-140-webfont.woff2') format('woff2'),
         url('fonts/webfontkit-2/tiny5x3-140-webfont.woff') format('woff');
    display: flex;
	color: white;
}

.marquee {
	margin-top: 400px;
	overflow: hidden;
	width: 100vw;
	display: flex;
	background-color: lime;
	transform: rotate(10deg);
	justify-content: center;
	align-items: center;
}



.slick-slide {
	font-size: 25px;
	font-family: 'pilowlavaregular';
    src: url('fonts/webfontkit-pilowlava/pilowlava-regular-webfont.woff2') format('woff2'),
         url('fonts/webfontkit-pilowlava/pilowlava-regular-webfont.woff') format('woff');
    padding: 10px;
    margin: 0 15px;
}

/*MAIN END*/

/*ARCHIVE START*/

.archive {
	display: flex;
	flex-wrap: wrap;
}

.arc-title {
    font-size: 3vw;
    text-align: right;
    transform: skew(10deg) rotate(90deg);
    flex: 0 0 50%;
}

.archive-item {
	color: white;
	mix-blend-mode: difference;
	padding: 20px;
	background-color: blue;
	flex: 0 0 50%;
}

.archive-item img:hover {
	transform: rotate(0deg);
}

.archive-item img {
	width: 30%;
}

.sep {
	font-family: 'tiny_5x3160';
    src: url('fonts/webfontkit-2/tiny5x3-160-webfont.woff2') format('woff2'),
         url('fonts/webfontkit-2/tiny5x3-160-webfont.woff') format('woff');
}

.bad {
	transform: rotate(60deg);
	font-family: 'pilowlavaregular';
    src: url('fonts/webfontkit-pilowlava/pilowlava-regular-webfont.woff2') format('woff2'),
         url('fonts/webfontkit-pilowlava/pilowlava-regular-webfont.woff') format('woff');
}

.fisk {
	font-family: 'pilowlavaregular';
    src: url('fonts/webfontkit-pilowlava/pilowlava-regular-webfont.woff2') format('woff2'),
         url('fonts/webfontkit-pilowlava/pilowlava-regular-webfont.woff') format('woff');
	transform: rotate(-20deg);
}

.koos {
	transform: rotateY(180deg);
}

.seemayer {
	transform: rotate(30deg);
	font-family: 'pilowlavaregular';
    src: url('fonts/webfontkit-pilowlava/pilowlava-regular-webfont.woff2') format('woff2'),
         url('fonts/webfontkit-pilowlava/pilowlava-regular-webfont.woff') format('woff');
}

.velvetyne {
	transform: scaleY(2);
}

.two {
	transform: rotate(15deg)rotateY(180deg);
	flex: 0 0 90;
	padding: 30px;
	margin-top: 100px;
}

.two:hover {
	transform: rotateY(0deg);
}

.julien {
	font-family: 'tiny_5x3160';
    src: url('fonts/webfontkit-2/tiny5x3-160-webfont.woff2') format('woff2'),
         url('fonts/webfontkit-2/tiny5x3-160-webfont.woff') format('woff');
	transform: rotateX(180deg);
}

.julien:hover {
	transform: rotateX(0deg);
}

/*ARCHIVE END*/

/*ABOUT START*/

.about-item {
	font-family: 'terminal_grotesque_openopen';
    src: url('fonts/webfontkit-terminal/terminal-grotesque_open-webfont.woff2') format('woff2'),
         url('fonts/webfontkit-terminal/terminal-grotesque_open-webfont.woff') format('woff');
    mix-blend-mode: difference;
    padding: 30px;
    display: none;
}

/*ABOUT END*/






