

/* ---- Base Rules ---- */
body {
    background: #FFF9EB;
    color: #41445D;
    margin: 0px;
    width: 100vw;
    overflow-x: hidden;
}

section {
    width: 100wh;
    overflow-x: hidden;
    overflow-y: hidden;
}

.clients ::-webkit-scrollbar {
    width: 10px;
    height: 20px;
    padding: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #41445D; 
    border-radius: 15px;
    padding: 10px;
    margin: 15px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #FFF9EB; 
    border: 3px solid #41445D;
    border-radius: 15px;
  }
  

/* Typography General*/


/* NEUE METANA */
@font-face {
    font-family: 'neue_metanabold';
    src: url('fonts/neue-metana/neuemetana-bold-webfont.woff2') format('woff2'),
         url('fonts/neue-metana/neuemetana-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'neue_metanaregular';
    src: url('fonts/neue-metana/neuemetana-regular-webfont.woff2') format('woff2'),
         url('fonts/neue-metana/neuemetana-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* NEUE MACHINA */

@font-face {
    font-family: 'neue_machinalight';
    src: url('fonts/neue-machina/neuemachina-light-webfont.woff2') format('woff2'),
         url('fonts/neue-machina/neuemachina-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'neue_machinaregular';
    src: url('fonts/neue-machina/neuemachina-regular-webfont.woff2') format('woff2'),
         url('fonts/neue-machina/neuemachina-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'neue_machinaultrabold';
    src: url('fonts/neue-machina/neuemachina-ultrabold-webfont.woff2') format('woff2'),
         url('fonts/neue-machina/neuemachina-ultrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


h1 {
    font-family: 'neue_metanabold';
    src: url('fonts/neue-metana/neuemetana-bold-webfont.woff2') format('woff2'),
         url('fonts/neue-metana/neuemetana-bold-webfont.woff') format('woff');
    font-size: 3em;
    padding: 10px;
}

h3 {
    font-size: 1em;
    font-family: 'neue_metanabold';
    src: url('fonts/neue-metana/neuemetana-bold-webfont.woff2') format('woff2'),
         url('fonts/neue-metana/neuemetana-bold-webfont.woff') format('woff');
}


h2 {
    font-size: 2em;
    font-family: 'neue_metanabold';
    src: url('fonts/neue-metana/neuemetana-bold-webfont.woff2') format('woff2'),
         url('fonts/neue-metana/neuemetana-bold-webfont.woff') format('woff');
}

p {
    line-height: 1.6em;
    font-family: 'neue_machinalight';
    src: url('fonts/neue-machina/neuemachina-light-webfont.woff2') format('woff2'),
         url('fonts/neue-machina/neuemachina-light-webfont.woff') format('woff');
}

li {
    list-style: none;
}

/* ---- Layout Rules ---- */
img {
    width: 10%;
}


/* ---- Module Rules ---- */

/* Navigation Styles*/

.nav {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.menu img {
    width: 30%;
}

header {
    position: sticky;
    width: 100%;
    background-color: #FFF9EB;
    top: 0px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    z-index: 3;
}

.nav-images img{
    padding: 10px;
}


/* Footer Styles */

footer {
    display: flex;
    justify-content: center;
    position:relative;
    align-items: baseline;
    opacity: 70%;
    width: 100wh;
}

/* ---- Theme Rules ---- */

.frame-1 {
    width: 258px;
    height: 626px;
    background-color: #41445D;
    position: absolute;
    border-radius: 15px;
    top: 0px;
    left: 0px;
    z-index: -3;
  }
  
.frame-2 {
    width: 100%;
    height: 627px;
    left: 0px;
    background-color: #41445D;
    position: relative;
    border-radius: 15px;
    z-index: -4;
    top: -200px;
    margin-bottom: 50px;
  }

/* Landing Container Styles */

.landing h1 {
    top: 572;
    background-color: #FFF9EB;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 60px;
    width: 100%;
    padding: 10px;
    position: relative;
}

.landing h2 {
    font-family: 'neue_machinalight';
    src: url('fonts/neue-machina/neuemachina-light-webfont.woff2') format('woff2'),
         url('fonts/neue-machina/neuemachina-light-webfont.woff') format('woff');
         color: #FFF9EB;
    top: 100px;
    margin: 100px;
    position: relative;
    font-size: 2em;
}

.landing p {
    font-family: 'neue_metanabold';
    src: url('fonts/neue-metana/neuemetana-bold-webfont.woff2') format('woff2'),
         url('fonts/neue-metana/neuemetana-bold-webfont.woff') format('woff');
    font-size: 1em;
    line-height: 0%;
}

.landing {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 926px;
    width: 100vw;
}

/* About Styles */

.walking-box {
    display: flex;
    justify-items: center;
    position: relative;
    width: 100vw;
    top: -100px;
}

.walking {
    position: relative;
}
.walking img {
    width: 70%;
}

.about {
    position: relative;
    margin: 30px;
    margin-bottom: 150px;
}

/* Services Menu Styles */

.services-menu {
    padding-top: 10px;
    width: 100vw;
}

.services-menu h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 4em;
}

.services h2 {
    align-items: flex-start;
}

.blue-bg {
    background-color: #41445D;
    color: #FFF9EB;
    padding: 30px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    position: relative;
}

.industries {
    z-index: -2;
}

.white-bg {
    background-color: #FFF9EB;
    padding: 30px;
    position: relative;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    z-index: 2;
    overflow: visible;
}

/* Services Styles */

.services h3 {
    padding: 10px;
}

.services {
    width: 100%;
    padding: 10px;
    position: relative;
}

.markets {
    padding: 15px;
    background-color: #41445D;
    color: #FFF9EB;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.markets li p {
    background-color: #FFF9EB;
    color: #41445D;
    border-radius: 15px;
    padding: 10px;
}

.business {
    padding: 15px;
}

.business li p {
    background-color: #41445D;
    color:  #FFF9EB;
    border-radius: 15px;
    padding: 15px;
}

.digital h1 {
    font-size: 2.3em;
}

.digital {
    padding: 15px;
    background-color: #41445D;
    color: #FFF9EB;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.digital li p {
    background-color: #FFF9EB;
    color: #41445D;
    border-radius: 15px;
    padding: 10px;
}

.points li {
    line-height: 1.6em;
    font-family: 'neue_machinalight';
    src: url('fonts/neue-machina/neuemachina-light-webfont.woff2') format('woff2'),
         url('fonts/neue-machina/neuemachina-light-webfont.woff') format('woff');
    list-style: disc;
    padding: 10px;
}

/* Clients Start */

.clients section {
    padding: 10px;
    height: 650px;
}

.clients h1 {
    display: flex;
    justify-content: center;
}

#client-container {
    overflow: hidden;
    position: relative;
    z-index: 1;
}

#all-clients {
    display: flex;
    overflow-x: scroll;
    scroll-padding: 0 50%;
    scroll-snap-type: x mandatory;
    margin: 15px;
}

#all-clients.active {
    background: rgba(255,255,255,0.3);
    cursor: grabbing;
    cursor: -webkit-grabbing;
    transform: scale(1);
  }

.client-item img {
    width: 90px;
    height: 90px;
    object-fit: contain;
    border-radius: 15px;
    background-color: white;
}

.client-item {
    width: 100%;
    transition: all 1s;
    position: relative;
    padding: 5px;
}

/* Testimonials Start */

.testimonials {
    padding: 10px;
    height: 660px;
    overflow: hidden;
    margin-bottom: 10px;
}

.testimonials h1 {
    display: flex;
    justify-content: center;
    text-align: center;
}

.test-inner {
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}

.test-item {
    padding: 5px;
    width: 100wh;
    text-align: center;
}

.test-item p {
   padding: 25px;
}

.test-item b {
    font-family: 'neue_machinaultrabold';
    src: url('fonts/neue-machina/neuemachina-ultrabold-webfont.woff2') format('woff2'),
         url('fonts/neue-machina/neuemachina-ultrabold-webfont.woff') format('woff');
}

.test-item img {
    width: 150px;
}

.flip {
    transform: scaleX(-1);
}

 /* Experience Start */


 .experience h1 {
     display: flex;
     justify-content: center;
     padding: 10px;
 }

 .timeline {
     height: 1400px;
     background-color: #41445D;
     border-radius: 15px;
 }

 .timeline h2 {
     color: #FFF9EB;
     padding: 15px;
     width: 50%;
 }

 .timeline h3 {
     width: 300px;
     background-color: #FFF9EB;
     padding: 20px;
     border-radius: 15px;
     margin-left: 40px;
     margin-right: 40px;
     text-align: right;
 }

 /* Chat Start */

 .message {
     padding: 10px;
     height: 850px;
 }

 .details {
     background-color: #41445D;
     border-radius: 15px;
     padding: 10px;
     height: 645px;
     
 }

 .message h2 {
     color: #FFF9EB;
     padding: 10px;
 }

 .email-entry {
    font-family: 'neue_machinalight';
    src: url('fonts/neue-machina/neuemachina-light-webfont.woff2') format('woff2'),
         url('fonts/neue-machina/neuemachina-light-webfont.woff') format('woff');
     background-color: #FFF9EB;
     padding: 10px;
     width: 386px;
     border-radius: 15px;
 }

 .ask {
     height: 180px;
 }

 .end-icon img{
     position: absolute;
     display: flex;
     justify-content: center;
     bottom: 200px;
     width: 100%;
 }

/* Section Active Styles Keyframe Animations */
@keyframes rotate {
	from {
		transform: rotate(0deg)
		           translate(-1em)
		           rotate(0deg);
	}
	to {
		transform: rotate(360deg)
		           translate(-1em) 
		           rotate(-360deg);
	}
}
